*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frame-child {
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 50%;
    background-color: #750000;
    width: 50px;
    height: 50px;
    }
    .a {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    }
    .ellipse-parent {
    width: 100%;
    position: relative;
    background-color: #16003F;
    height: 100px;
    overflow: hidden;
    text-align: center;
    font-size: 120px;
    color: #fff;
    font-family: 'Kolker Brush';
    }
    
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: #16003F;
    color: white;
}
.logo_container{
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;

}


nav>ul{
    display: inline-flex;
    list-style: none;
}

nav > ul > li{
    padding-left: 10px;
}

nav > ul > li > a{
    text-decoration: none;
    color: white;
}
