*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.A {
    width: 100px;
    position: relative;
    font-size: 128px;
    font-family: 'Just Me Again Down Here';
    background: linear-gradient(180deg, #68a7ab, #1a1e33);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: #1A1E33;
    color: white;
}
.logo_container{
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;

}
.logo_container{
    color: #68a7ab;
}


nav>ul{
    display: inline-flex;
    list-style: none;
}

nav > ul > li{
    text-decoration: none;
    padding-left: 10px;
}

